

.sidebar {
  /* width: 20vw; */
  background: White; 
  color: White;
  position: fixed;
  top: 30rem;
  right: 0;
  bottom: 30rem;
  padding: .5rem;
}
.sidebar h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.sidebar ul {
  height: calc(100% - 5rem);
  overflow-y: auto;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar ul li a {
  display: block;
  color: DimGray;
  background: White;
  text-decoration: none;
  padding: .5rem;
  border-bottom: 1px dotted Tomato;
  transition: color .2s;
}
.sidebar ul li a:hover, .sidebar ul li a:focus, .sidebar ul li a:active {
  color: Tomato;
  outline: 0;
}
