<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solrecipe.recipe.CommonMapper">
	
	<resultMap type="memberVO" id="memberResultMap">
		<result property="user_num" column="user_num"/>
		<result property="user_nickname" column="user_nickname"/>
		<result property="user_name" column="user_name"/>
		<result property="user_intro" column="user_intro"/>
		<result property="user_img" column="user_img"/>
		<result property="isopen" column="isopen"/>
	</resultMap>
	
	<select id="getMyVO" resultMap="memberResultMap">
		select d.user_num, d.user_nickname, d.user_name, p.user_intro, p.user_img, p.isopen
		from user_detail_tb d, user_profile_tb p 
		where d.user_num = p.user_num and d.user_username = #{id}
	</select>
	
</mapper>