<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solrecipe.recipe.CommonMapper">
	
	<resultMap type="memberVO" id="memberResultMap">
		<result property="user_num" column="user_num"/>
		<result property="user_nickname" column="user_nickname"/>
	</resultMap>
	
	<select id="getMyVO" resultMap="memberResultMap">
		select d.user_num, d.user_nickname  
		from user_detail_tb d, user_tb u 
		where d.user_num = u.user_num and u.user_username = #{id}
	</select>
	
</mapper>